@model HashSet<DateOnly>

@{
    ViewData["Title"] = "Invoices";
}

<div>
    <div class="d-flex flex-row justify-content-between">
        <h1 class="display-4">Invoices</h1>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Invoice Name</th>
                <th scope="col">View Invoice</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var invoice in Model)
            {
                @* <tr> *@
                @*     <td scope="row"> *@
                @*         @invoice.FullName's Invoice - @invoice.Month/@invoice.Year *@
                @*     </td> *@
                @*     <td> *@
                @*         <div class="d-flex flex-row"> *@
                @*             <a href="@Url.Action("ViewInvoice", "Invoice", new { invoiceId = invoice.InvoiceId })" class="btn btn-primary"> *@
                @*                 View Invoice *@
                @*             </a> *@
                @*         </div> *@
                @*     </td> *@
                @* </tr> *@
            }
        </tbody>
    </table>
</div>