@model Tennishallen.Models.User.UserViewModel

@{
    ViewBag.Title = Model.FirstName + " " + Model.LastName;
    Layout = "_Layout";
}

<div class="col-sm-0 col-md-6 offset-sm-0 offset-md-3" xmlns="http://www.w3.org/1999/html">
    <h1>Bewerk @Model.FirstName @Model.LastName</h1>

    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="FirstName" class="form-label"></label>
            <input asp-for="FirstName" class="form-control" type="text">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="form-label"></label>
            <input asp-for="LastName" class="form-control" type="text">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control" type="password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Birthdate" class="form-label"></label>
            <input asp-for="Birthdate" class="form-control">
            <span asp-validation-for="Birthdate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" type="email">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Phone" class="form-label"></label>
            <input asp-for="Phone" class="form-control" type="text">
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Address" class="form-label"></label>
            <input asp-for="Address" class="form-control" type="text">
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PostalCode" class="form-label"></label>
            <input asp-for="PostalCode" class="form-control" type="text">
            <span asp-validation-for="PostalCode" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="City" class="form-label"></label>
            <input asp-for="City" class="form-control" type="text">
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="HourlyWage" class="form-label"></label>
            <input asp-for="HourlyWage" class="form-control" type="number">
            <span asp-validation-for="HourlyWage" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IsActive" class="form-label"></label>
            <input asp-for="IsActive" type="checkbox">
            <span asp-validation-for="IsActive" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="IsMember" class="form-label"></label>
            <input asp-for="IsMember" type="checkbox">
            <span asp-validation-for="IsMember" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IsCoach" class="form-label"></label>
            <input asp-for="IsCoach" type="checkbox">
            <span asp-validation-for="IsCoach" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IsAdmin" class="form-label"></label>
            <input asp-for="IsAdmin" type="checkbox">
            <span asp-validation-for="IsAdmin" class="text-danger"></span>
        </div>
        <br>
        <div class="form-group">
            <input class="btn btn-outline-success float-end" type="submit" value="Bewerk">
        </div>
    </form>
</div>